body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    background-color: blueviolet;
    width: 50vw;
    height: 100vh;
}
.container2{
    background-color: rgb(32, 149, 51);
    width: 50vw;
    height: 100vh;
}